@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow-y: hidden;
}

nav, footer {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  z-index: 2;
}
nav {
  top: 0;
}

footer {
  bottom: 0;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  margin: 1em 0;
  position: absolute;
  top: 0;
  left: 0;
}
footer p {
  text-transform: uppercase;
  font-family: "Akkurat Mono", monospace;
  font-size: 18px;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 10px;
}

.loading-indicator { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
   font-size: 24px; 
  color: white; 
}
.modal { 
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #272626;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000080;
  width: 400px;
  height: 600px;
  transition: .4s ease-in-out;

}
.modal img {
  transition: .4s ease-in-out;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 4px;
}

.modal-content p {
  position: relative;
  text-transform: uppercase;
  font-family: "Akkurat Mono", monospace;
  font-size: 18px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal-content p span:first-of-type {
  font-size: 14px;
  text-transform: capitalize;

}

.modal-content button {
  padding: 12px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #333;
  border-radius: 50px;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.modal-content {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0; */
}

.modal-content.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.modal-enter {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.modal-enter-active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 300ms, transform 500ms ease-out;
}

.modal-exit {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.modal-exit-active {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: opacity 300ms, transform 500ms ease-in;
}